<section id="add" class="search-wrap">
    <h1>A simple email sign up form</h1>


    <form action="/dashb/add" method="POST" class="add-form">
      <i class="fas fa-search"></i>


      <input type="search" name="username" placeholder="Name" id = "username"value="{{worktype}}">

      <input type="search" name="email" placeholder="Email" id ="email" value = {{dist}}>

      <input type="search" name="email" placeholder="Email" id ="workType" value = {{time}}>
      <input type="submit" value="Add User">

    </form>

    {{#each error}}

      {{text}}

    {{/each}}

    
  </section>